body {
    background-color: lightblue;
}

h1 {
  color: red;
}

h4 {
   color: blue;
   font-family: "Times new roman";
}

h2 {
  color: blue;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
